<!doctype html>
<html>
    <head>
        <title>Neovis.js Simple Example</title>
        <style type="text/css">
            html, body {
                font: 16pt arial;
            }
    
            #viz {
                width: 900px;
                height: 700px;
                border: 1px solid lightgray;
                font: 22pt arial;
            }
        </style> 

	<!--<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>-->
	<script src="{{ url_for('static', filename='js/neovis.js')}}"></script>
	<script type="text/javascript">

        var viz;

        function draw() {
            var config = {
                container_id: "viz",
                server_url: "{{ data.getBolt() }}",
		server_user: "{{ data.getCreds()[0]}}" ,
                server_password: "{{ data.getCreds()[1]}}" ,
                labels: {
                    "Task": {
                        "caption": "name",
                    }
                },
                relationships: {
                    "DependsOn": {
                        "caption": false
                    }
                },
                //initial_cypher: "MATCH (n)-[r:SENDS_TO_MAC]->(m) RETURN *"
		initial_cypher: "MATCH (n) RETURN *"
            };

            viz = new NeoVis.default(config);
            viz.render();
        }
    </script>

    </head>
    <body onload="draw()">
        <div id="viz"></div>
    </body>    
</html>
 

