<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loom</title>
  
  <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap3.4.1.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/loom.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/chroma.min.js')}}"></script>
  
</head>
<body>

  {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
	    {% autoescape false %}
            {{ view.getNavItem(active, 'dashboard', 'Overview') }}
	    {{ view.getNavItem(active, 'graph', 'Graph View') }}
	    {{ view.getNavItem(active, 'goals', 'Goals') }}
	    {{ view.getNavItem(active, 'projects', 'Projects') }}
	    {% endautoescape %}
          </ul>
	  <form action="{{curreq}}" method="post">
	    <h3> Quick Add </h3>
	    Task: <br/>
	    <input type="text" name="title"></input> <br/>
	    Description: <br/>
	    <textarea rows="3" cols="20" name="desc"></textarea> <br/>
	    Labels: <br/>
	    <select id="labelSelect" multiple size="3" name="labels">  
	    </select> <br/>
	    <input type="submit"></input>
	    <input type="hidden" name="view" value="{{active}}"></input>
	    <input type="hidden" name="action" value="addtask"></input>
	  </form>
        </div>
        <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">
	    Dashboard
	    <span style="font-size: 12pt">	  put filter here...</span>
	  </h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Task List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
		  {% for (h,f) in view.getHeaders(): %}
                  <th>{{h}}</th>
		  {% endfor %}
                </tr>
              </thead>
              <tbody>
		{% for task in data.getTopTasks(): %}
                <tr>
		  {% for (h,a) in view.getHeaders(): %}
                  <td>{{ task.getAttribute(a) }}</td>
		  {% endfor %}
                </tr>
		{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script>
      var select = document.getElementById('labelSelect');
      {% autoescape false %}
      var labels = {{ view.getLabelList(data) }} ;
      {% endautoescape %}
      for (var i = 0; i<labels.length; i++){
	  var opt = document.createElement('option');
	  opt.value = labels[i];
	  opt.innerHTML = labels[i];
	  select.appendChild(opt);
      }
    </script>
    
</body>
  
</html>
