<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loom</title>
  
  <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap3.4.1.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/loom.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/chroma.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/loom.js')}}"></script>
  
</head>
<body>

  {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row">
        <div id="mysidebar" class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
	    {% autoescape false %}
            {{ view.getNavItem(active, 'dashboard', 'Overview') }}
	    {{ view.getNavItem(active, 'goals', 'Goals') }}
	    {{ view.getNavItem(active, 'ideas', 'Ideas') }}
	    {{ view.getNavItem(active, 'graph', 'Graph View') }}
	    {% endautoescape %}
          </ul>
	  <form action="{{curreq}}" method="post">
	    <header >
	      <h3 style="display: inline;" > Quick Add  </h3>
	      <span style="display: inline-block; float: right;">
		<input class="tgl tgl-flat" id="cb4" type="checkbox" onclick="toggle_element('quickadd')"/>
		<label class="tgl-btn" for="cb4"></label>
	      </span>
	    </header>
	    <div id="quickadd" style="display: none;" >
	      <span style="display: inline;"> Title for:&nbsp; </span>
	      <span style="display:inline-block; float:right;">
		  <select id="typeSelect" name="nodeType" onchange="type_selected()">
		    <option value="Task">Task</option>
		    <option value="Goal">Goal</option>
		    <option value="Idea">Idea</option>
		  </select>
	      </span><br/>
	    <input type="text" name="title"></input> <br/>
	    Description: <br/>
	    <textarea rows="3" cols="20" name="desc"></textarea> <br/>
	    Due date: <br/>
	    <input type="date" id="due_date" name="due_date"
		   value="" min="{{view.today()}}" max="{{view.calendar_max()}}"> <br/>
	    Labels: <br/>
	    <select id="labelSelect" multiple size="3" name="labels">  
	    </select> <br/>
	    <input type="text" name="newlabel"></input>
	    <input type="submit"></input>
	    <input type="hidden" name="view" value="{{active}}"></input>
	    <input type="hidden" name="action" value="addnode"></input>
	    </div>
	  </form>
        </div>
        <div id="mymain" class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  {% if active == "dashboard" or active == "goals" or active=="ideas" %}
	  {% include 'overview.html' %}
	  {% elif active == "graph" %}
	  {% include 'graph.html' %}
	  {% else %}
	  {% include 'overview.html' %}
	  {% endif %}
	</div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script>
      var select = document.getElementById('labelSelect');
      {% autoescape false %}
      var labels = {{ view.getLabelList(data) }} ;
      {% endautoescape %}
      for (var i = 0; i<labels.length; i++){
	  var opt = document.createElement('option');
	  opt.value = labels[i];
	  opt.innerHTML = labels[i];
	  select.appendChild(opt);
      }
    </script>
    
</body>
  
</html>
